.home-container {
  height: 100vh;
  padding: 1em;
}
@media (min-width: 1020px) {
  .home-container {
    padding: 0.1em;
  }
}
.home-container .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  position: relative;
  top: 18em;
}
@media (min-width: 773px) {
  .home-container .btn {
    display: none;
  }
}
.home-container .btn .register-btn {
  background: #f57003;
  border: 2px solid #f57003;
  outline: none;
  padding: 1em;
  width: 300px;
  border-radius: 25px;
  color: #EDF0F2;
  font-size: 14px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.home-container .btn .register-btn:hover {
  border: 2px solid #e2e0e0;
  background: rgba(118, 116, 116, 0);
  cursor: pointer;
}
.home-container .btn .sign-in-btn {
  background: none;
  padding: 1em;
  width: 300px;
  border-radius: 25px;
  color: #EBEBEB;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.home-container .btn .sign-in-btn:hover {
  background: #EBEBEB;
  color: rgba(118, 116, 116, 0.5);
  cursor: pointer;
}

.form_section {
  display: none;
}
@media (min-width: 773px) {
  .form_section {
    display: block;
  }
}
@media (min-width: 773px) {
  .form_section .form-section_container {
    display: flex;
    padding: 5em;
    align-items: center;
    padding-top: 7em;
  }
}
@media (min-width: 1020px) {
  .form_section .form-section_container {
    justify-content: center;
  }
}
@media (min-width: 773px) {
  .form_section .form-section_container .aside_section h1 {
    font-family: "Fraunces", serif;
    position: relative;
    font-size: 1.8em;
    color: #fff;
    width: 100%;
    padding: 1em;
  }
}
.form_section .form-section_container .form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  padding: 2em;
  left: 2.5em;
  border-radius: 0 8px 8px 0;
}
@media (min-width: 1020px) {
  .form_section .form-section_container .form-field {
    width: 25rem;
    justify-content: center;
  }
}
.form_section .form-section_container .form-field .input-container input:focus ~ span,
.form_section .form-section_container .form-field .input-container input :valid ~ span {
  color: #252525;
  font-size: 0.8rem;
  padding: 0.2em 12px;
  border-left: 2px solid #f57003;
  border-right: 2px solid #f57003;
  position: relative;
  bottom: 1.2em;
  font-weight: 600;
  background-color: #C4C4C4;
}
.form_section .form-section_container .form-field .input-container input {
  padding: 1em;
  border-radius: 10px;
  outline: none;
  border: none;
  background: rgba(118, 116, 116, 0.5);
  width: 90%;
}
.form_section .form-section_container .form-field .input-container input:focus, .form_section .form-section_container .form-field .input-container input:valid {
  border: 1.5px solid #f57003;
  background-color: #C4C4C4;
}
.form_section .form-section_container .form-field .input-container span {
  position: relative;
  left: 2em;
  pointer-events: none;
  bottom: 1.9em;
  text-transform: uppercase;
}
.form_section .form-section_container .form-field .input-container .email {
  left: 2em;
}
.form_section .form-section_container .form-field button {
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f57003;
  cursor: pointer;
}
@media (min-width: 1020px) {
  .form_section .form-section_container .form-field button {
    width: 24rem;
    margin-left: 0.1em;
  }
}
.form_section .form-section_container .form-field p {
  text-align: center;
}

.mobile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-form .mobile-form-field {
  width: 20rem;
  background: rgba(255, 255, 255, 0.7);
  padding: 1em;
  margin: 0.8em;
  margin-top: 3em;
  border-radius: 0 8px 8px 0;
}
.mobile-form .mobile-form-field h2 {
  font-family: "Stylish", sans-serif;
  width: 10rem;
  text-align: center;
  margin-left: 3em;
  color: #f57003;
}
.mobile-form .mobile-form-field .mobile-input-container {
  margin: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-form .mobile-form-field .mobile-input-container input {
  padding: 0.8em;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #767474;
  width: 15rem;
}
.mobile-form .mobile-form-field .link {
  display: flex;
  justify-content: center;
  margin: 1.8em 1.8em 1em 2em;
  position: relative;
  right: 5px;
  text-decoration: none;
}
.mobile-form .mobile-form-field .link button {
  padding: 1em;
  width: 16.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f57003;
  cursor: pointer;
}
.mobile-form .mobile-form-field p {
  text-align: center;
}

.search {
  padding-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 5em;
  width: 100%;
  z-index: 3;
  overflow: hidden;
}
@media (min-width: 773px) {
  .search {
    top: 2.3em;
    position: relative;
  }
}
@media (min-width: 1020px) {
  .search {
    padding: 5em 5em 5em 2em;
    margin: 0;
  }
}
.search input {
  width: 40%;
  padding: 1.5em;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #252525;
  color: #EDF0F2;
}
@media (min-width: 773px) {
  .search input {
    width: 20em;
    padding: 1.3em;
  }
}
.search button {
  padding: 1.5em;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f57003;
  cursor: pointer;
}
.search button:hover {
  color: #EDF0F2;
}
@media (min-width: 773px) {
  .search button {
    width: 10em;
    padding: 1.3em;
  }
}

.recipe-section {
  padding-top: 3.5em;
  overflow: auto;
  background-color: #252525;
  opacity: 0.95;
  display: flex;
  justify-content: center;
}
.recipe-section .recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  text-align: center;
  flex-wrap: wrap;
}
.recipe-section .recipe-container img {
  border-radius: 10px;
  width: 15rem;
}
.recipe-section .recipe-container .recipe-info h1 {
  font-family: "Fraunces", serif;
  font-weight: 600;
  font-size: 16px;
  color: #f57003;
  text-align: center;
}
.recipe-section .recipe-container .recipe-info p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #767474;
  text-align: center;
}
.recipe-section .recipe-container .recipe-info .list-container {
  font-size: 12px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  width: 14rem;
  text-align: left;
  color: #e2e0e0;
}/*# sourceMappingURL=main.css.map */