.search{
    padding-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 5em;
    width: 100%;
    z-index: 3;
    overflow: hidden;
    @include tablet {

        top: 2.3em;
        position: relative;
    }
    
    @include desktop{
        padding: 5em 5em 5em 2em;
        margin: 0;
    }

    input{
        width: 40%;
        padding: 1.5em;
        border-radius: 5px;
        outline: none;
        border: none;
        background: $color_tertiary-400;
        color: $color_tertiary-600;
        // position: absolute;
        @include tablet{
            width: 20em;
            padding: 1.3em;
        }
    }
    button{
        padding: 1.5em;
        border-radius: 5px;
        outline: none;
        border: none;

        background: $color_primary-300;
        cursor: pointer;
        &:hover{
            color: $color_tertiary-600;
        }
        @include tablet{
            width: 10em;
            padding: 1.3em;
        }
      
    }
}