// color 

$color_primary-100 : #0077B6;   
$color_primary-200 : #0C78B8;
$color_primary-300: #f57003;


$color_tertiary-100 : #FFFFFF;
$color_tertiary-200 : #767474;
$color_tertiary-300 : #EBEBEB;
$color_tertiary-400 : #252525;
$color_tertiary-500 : #e2e0e0;
$color_tertiary-600 : #EDF0F2;
$color_tertiary-700 : #C4C4C4;
$color_tertiary-800: green;


//font-sizes
$mdx-font-size : 1.8em;
$md-font-size : 20px;
$sm1-font-size : 16px;
$sm-font-size : 14px;
$xsm-font-size : 12px;
$xxsm-font-size : 10px;


//fonts-family
$font-family-inter: 'Inter', sans-serif;
$font-family-mont: 'Montserrat Alternates', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-fraunces:   "Fraunces", serif;
$font-family-style: 'Stylish', sans-serif;


//border-radius
$border_radius-100 : 14px;
$border_radius-200 : 10px;
$border_radius-300 : 6px;

// $opacityTransparent: 0.5;


// size media &...... Lx
$tb: 773px;
$dsk: 1020px;
$mb: 375px; 



